@font-face {
  font-family: "iconfont"; /* Project id 3763127 */
  src: url('iconfont.woff2?t=1683423288223') format('woff2'),
       url('iconfont.woff?t=1683423288223') format('woff'),
       url('iconfont.ttf?t=1683423288223') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stepback:before {
  content: "\e6e2";
}

.icon-user:before {
  content: "\e682";
}

.icon-phone-fill:before {
  content: "\e86d";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-youxiang-:before {
  content: "\e6af";
}

